<header>
<nav class="flex justify-end  bg-sky-600  relative p-2 ">
    <ul class="flex space-x-4 mr-10 ">
      <li class="bg-sky-600 text-white px-4 py-2"><a href="http://localhost:4200/">Home</a></li>
      <li class="bg-blue-950 text-white px-4 py-2 rounded-t-xl rounded-es-xl rounded-ee-xl group">
        Acerca 
    <ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
      <li class="px-4 py-2"><a href="http://localhost:4200/">Autoridades</a></li>
      <li class="px-4 py-2"><a href="">Consejo Estudiantil</a></li>
      
      </ul>
</li>
<li class="bg-blue-950 text-white px-4 py-2 rounded-t-xl rounded-es-xl rounded-ee-xl group">
    Servicios 
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Plataforma.E</li>
  <li class="px-4 py-2">Matriculas</li>
  </ul>
  </li>
  <li class="bg-blue-950 text-white px-4 py-2  rounded-t-xl rounded-es-xl rounded-ee-xl group">
    Eventos
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Memorias</li>
  <li class="px-4 py-2">P.Encargado</li>
  <li class="px-4 py-2">Cronogrma de Actividades</li>
</ul>
</li>
</ul>
<img class="h-10 w-10 mr-5" src="https://scontent.fcue2-1.fna.fbcdn.net/v/t1.6435-9/130452072_1783790998440755_4074736279554715385_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeG6cVJmO6AfIZuHG7U_0CjPI3zsk8dyfOUjfOyTx3J85d03rDP3R7ROzcBJM4hLZ9XSWACOeIGkx_5_o0RhOKsi&_nc_ohc=jy5PA6fNX8sAX9FDep7&_nc_ht=scontent.fcue2-1.fna&oh=00_AfC4pSuIcqxfFwCA5MyMj5oiswTZ_JLaoloCVZz1xaEG4w&oe=65DFCB5F">
  </nav>
</header>